.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $whait-cl;
    background-color:$accent-cl;
    border-radius: 4px;
    display: block;
    margin:0 auto;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border: none;
    cursor: pointer;
}