html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: $black-cl;
}
:hover {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right:15px ;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    margin-bottom: 25px;
}