.logo {
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 93px;
  margin-left: 0px;
  width: 145px;
  height: 31px;
  text-decoration: none;
  text-align: center;
  z-index: 4;
  @media screen and ( min-width:768px ) and ( max-width:1199px ){
    margin-right: 88px;
  }
  @media screen and ( max-width:767px ){
    margin-top: 16px;
  margin-bottom: 16px;
  }
}

.logo1 {
  font-family: "Raleway", serif;
  font-size: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $accent-cl;
  text-decoration: none;
}
.logo2 {
  font-family: "Raleway", serif;
  font-size: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $black-cl;
  text-decoration: none;
}
.logo3 {
  font-family: "Raleway", serif;
  font-size: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $whait-cl;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .ligo1,
  .logo2,
  .logo3 {
    font-size: 24px;
    line-height: 1.38;
  }
}
@media screen and (min-width: 1200px){
  .logo1,
  .logo2,
  .logo3 {
    font-size: 26px;
    line-height: 1.38;
  }
  .logo{
    margin-top: 23px;
    margin-bottom: 23px;
  }
}
