
.logo {
    display: inline-block;
    margin-top: 24px;
    margin-right: 93px;
    margin-left: 0px;
    width: 145px;
    height: 31px;
    text-decoration: none;
}
.logo1 {
    font-family: "Raleway", serif;
    font-size: 400;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $accent-cl;
    text-decoration: none;
}
.logo2 {
    font-family: "Raleway", serif;
    font-size: 400;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $black-cl;
    text-decoration: none;
}
.logo3 {
    font-family: "Raleway", serif;
    font-size: 400;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $whait-cl;
    text-decoration: none;
}

