.adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $whait-cl;
  text-decoration: none;
  font-style: normal;
}
.contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  @media screen and ( max-width:768px ){
    justify-content: center;
  }
}
.contacts-box {
    height: 100%;
    padding-top: 0px;
}
@media screen and (max-width: 480px) {
  .contacts-box {
    max-height: 603px;
  }
}
.join {
  text-transform: uppercase;
  color: $whait-cl;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
}
@media screen and (max-width: 480px) {
  .inline-information {
    display: inline;
    width: 100%;
    min-width: 480px;
    justify-content: center;
  }
  .inline-information:last-child{
      margin-bottom: 60px;
  }
  .inline-information-item {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .logo-footer {
    max-width: 154px;
    margin-right: auto;
    margin-left: auto;
  }
  ul.list-item {
    justify-content: center;
    display: block;
    max-width: 232px;
    margin-right: auto;
    margin-left: auto;
  }
  .join-social {
    margin-top: 60px;
    justify-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .social-icons {
    width: 218px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  h3.join {
    text-align: center;
  }
  h3.subscribe {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .inline-information {
    display: inline;
    min-width: 767px;
    margin-left: auto;
    margin-right: auto;
  }
  .inline-information-item {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .logo-footer {
    max-width: 154px;
    margin-right: auto;
    margin-left: auto;
  }
  ul.list-item {
    justify-content: center;
    display: block;
    max-width: 232px;
    margin-right: auto;
    margin-left: auto;
  }
  .join-social {
    margin-top: 60px;
    justify-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .social-icons {
    width: 218px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  h3.join {
    width: 100%;
    text-align: center;
  }
  h3.subscribe {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .inline-information {
    max-width: 768px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .inline-information-item {
    list-style: none;
    position: relative;
    justify-content: center;
  }
  .inline-information-item:nth-child(1),
  .inline-information-item:nth-child(2) {
    width: calc(100% / 2);
    max-width: 380px;
    display: inline-block;
    height: 247px;
    margin-right: auto;
    margin-left: auto;
  }
  .inline-information-item:nth-child(2) {
    position: absolute;
    margin-top: 60px;
  }
  .inline-information-item:nth-child(3) {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .contacts-list,
  .logo-footer,
  .list-item,
  .join {
    justify-content: center;
    text-align: center;
  }
  .list-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .inline-information {
    display: inline-flex;
    margin: 0;
    margin-bottom: 60px;
  }
  .contacts-list{
    margin-bottom: 0;
  }
  .logo-footer a.logo-position{
    margin-bottom: 0;
  }
  .inline-information-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .join-social {
    margin-top: 72px;
    margin-left: 70px;
  }
}

figure {
  position: relative;
  height: 100%;
  margin: 0;
  & p {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 70px;
    margin-top: 224px;
    margin-bottom: 0;
    transform: translate(-50%, 0);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whait-cl;
    z-index: 2;
    opacity: 1;
    text-align: center;
    padding-top: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.hidden {
  display: none;
}
.subscribe {
  text-transform: uppercase;
  color: $whait-cl;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}
.inline-information li {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.subscribe-newsletter {
  margin-top: 72px;
  margin-left: 215px;
  margin-left: 93px;
  @media screen and(max-width: 768px) {
    width: 100%;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 100%;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.subscribe-form {
  @media screen and(max-width: 768px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    // width: 450px;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}
.form-feald {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  width: 358px;
  height: 50px;
  color: $whait-cl;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 3%;
  resize: none;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  padding-right: 16px;
  @media screen and (max-width: 480px) {
    width: 100%;
    max-width: 450px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 480px) and(max-width: 768px) {
    display: block;
    width: 450px;
    max-width: 480px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 450px;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.subscribe-btn {
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1 solid $accent-cl;
  background: $accent-cl;
  width: 200px;
  height: 50px;
  margin-right: 0px;
  margin-left: 12px;
  color: $whait-cl;
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: $whait-cl;
  cursor: pointer;
  @media screen and (max-width: 480px) {
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 480px) and(max-width: 768px) {
    width: 200px;
    padding-left: 29px;
    padding-right: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and(max-width: 1200px) {
    width: 200px;
    padding-left: 29px;
    padding-right: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
.subscribe-btn:disabled {
  background: grey;
  color: #ccc;
  border: grey;
}
.svg-plain {
  margin-left: 10px;
  @media screen and(max-width: 768px) {
    margin-left: 10px;
    margin-right: 28px;
  }
}
