.header-box{
    position: fixed;
    top: 0;
    left: 0;right: 0;
    background-color: $whait-cl;
    z-index: 3;
    border: 1px solid #ECECEC;
}
.list {
    list-style: none;
    display: inline-flex;
    margin-top: 24px;
    box-sizing: border-box;
    margin-left: 0; 
}
.link {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.link-item{
    height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    &:focus,
    &:hover{
       color: $accent-cl;
    }
    &:hover.link-item::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-cl;
        margin-top: 22px;
    }
    &:not(:last-child){
        margin-right: 50px;
    }
}
nav.flex a.active{
    position: relative;
}
.active.link-item::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-cl;
    margin-top: 22px;
}
.left-list {
    width: 343px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
}
.right-list{
    margin-top: 32px;
    font-weight: 500;
    margin-left: 305px;
    margin-right: 0;
    padding-inline-start: 0;
    margin-bottom: 0;
    color: $main-text-cl;
}
.link-item-right{
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;;
    height: 16px;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    display: block;
    &:first-child{
        margin-right: 30px;
        width: 161px;
    }
    &:last-child{
        width: 142px;
        width: 144px;
    }
}
.link-item-right:hover,
svg.icon-header-item1:hover,
svg.icon-header-item2:hover{
    color: $accent-cl;
    fill: $accent-cl;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item-right:hover svg.icon-header-item1,
.link-item-right:hover svg.icon-header-item2{
    fill: $accent-cl;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover
.link:focus{
    fill:$accent-cl;
}
.icon-header{
    padding: 0;
    border:  0;
}
.icon-header-item1{
    margin-top: 2px;
    margin-bottom: 0;
    width: 16px;
    height: 12px;
    margin-left: 0;
    margin-right: 10px;
    fill:$main-text-cl;
    align-items: center;
}

.icon-header-item2{
    margin-top: 3px;
    margin-bottom: -3px;
    width: 10px;
    height: 16px;
    margin-left: 0;
    margin-right: 10px;
    fill:$main-text-cl;
    align-items: center;
}
link:hover .icon-header-item2{
    fill: $accent-cl;
}