.main {
  background-color: $whait-cl;
  border: 1px solid #ececec;
}
.portfolio-container {
  padding-top: 174px;
  margin: 0;
  margin-bottom: 50px;
  justify-content: center;
  @media screen and (max-width: 767px) {
    list-style: none;
    padding-top: 126px;
    margin-bottom: 46px;
    padding-left: 0;
    padding-inline-start: 0px;
  }
}
.portfolio-container-item {
  margin-left: 0;
}

.flex {
  display: flex;
  height: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px){
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 1200px){
    width: 100%;
    max-width: 1200px;
  }
}

.portfolio-list {
  display: flex;
  list-style: none;
  @media screen and ( max-width:767px ){
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .backgraund {
    margin-top: 80px;
    padding-top: 200px;
    height: 600px;
    background: radial-gradient(
        circle at center,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/pc-bg-img.jpg);
  }
}
@media screen and (max-width: 479px) {
  .backgraund {
    margin-top: 60px;
    padding-top: 118px;
    height: 400px;
    background: radial-gradient(
        circle at center,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/tel-bg-img.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px){
  .backgraund {
    margin-top: 60px;
    padding-top: 118px;
    height: 400px;
    background: radial-gradient(
        circle at center,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/tab-bg-img.jpg);
      background: cover;
  }
}
.backgraund-down {
  background-color: #2f303a;
  height: auto;
}
