
.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $black-cl;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #F5F4FA;
    height: 38px;
    border: none;
}
.btn-parameter{
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.flex-wrap{
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 94px;
}
.flex-wrap-item { 
    background: #FFFFFF;
    margin-right: 30px;
    margin-bottom:30px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    list-style-position:inside;
    width: 370px;
    height: 404px;
    &:nth-child(3n+3){
      margin-right: 0;
    }
    &:nth-child(n+7){
        margin-bottom: 0;
    }
    &:hover{
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }
}
.img-portfolio-item{
    position: 0;
    width: 370px;
}
.portfolio-container-item li{
    display: inline-block;
    position: relative;
    overflow: hidden;
    & img{
        max-width: 100%;
        display: block;
    }
}
.description{
    position: absolute;
    left: 0;
    width: 100%;
    height: 294px;
    color: $whait-cl;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    top: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-right: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    -webkit-transition: all 0.25s;
    -o-transition:all 0.25s;
    transition: all 0.25s;
}
.portfolio-container-item li:hover .description{
    opacity: 1;
    top: 0;
}

