.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $black-cl;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
  }
}
.list-img {
  display: inline-flex;
  margin-top: 0;
  padding-left: 0;
}
.list-item-position {
  margin-bottom: 0px;
  width: 370px;
  height: 294px;
}
.list-position-team li.list-position-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-item-position:not(:last-child) {
  margin-right: 30px;
  margin-left: 0px;
}

.text-box {
  width: 100%;
  height: 75px;
}
.job-description {
  height: 19px;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: $main-text-cl;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}
.introduction {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: $black-cl;
}
.team-box {
  // height: 648px;
  background-color: #f5f4fa;
  box-sizing: inherit;
  @media screen and (max-width: 400px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: 2320px;
  }
  @media screen and (min-width: 400px) and (max-width: 479px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: 2520px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: 2761px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    height: 1345px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 708px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
  }
}
.team-titel {
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}
.list-position-team {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 428px;
    & li.list-contacts-img {
      display: inline-block;
      width: calc((100% - 136px) / 4);
      max-width: 270px;
      margin-top: 16px;
    }
  }
  @media screen and (max-width: 767px) {
    & li.list-contacts-img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      height: 100%;
      max-height: 622px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    & li.list-contacts-img {
      display: inline-block;
      width: calc((100% - 34px) / 2);
      max-width: 354px;
      margin-top: 16px;
      height: 100%;
    }
    & li.list-contacts-img:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
}
.list-contacts-img {
  background-color: $whait-cl;
  margin-top: 0;
  margin-right: 0;
  width: 100%;
  max-width: 450px;
  @media screen and (min-width: 1200px) {
    height: auto;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts-information {
  font-weight: 500px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  height: 19px;
  width: 100%;
}
